<!-- Footer -->
<footer class="bg-dark mt-5">
  <div class="container text-center space-2">
    <a class="d-inline-flex align-items-center mb-3" routerLink="/">
      <span class="brand brand-light">shelves</span>
    </a>
    <p class="small text-secondary"><span class="font-weight-semi-bold">shelves</span> is making use with the Google
      Books™ service and its <a href="https://policies.google.com/privacy" target="_blank"
        rel="noopener noreferrer">Privacy Policy</a> &
      <a href="https://policies.google.com/terms" target="_blank" rel="noopener noreferrer">Terms of Service</a>.
    </p>
  </div>
</footer>
<!-- /Footer -->
