<div class="bg-light">
  <div class="container py-5">
    <h1 class="h4 mb-0">Wishlist</h1>
  </div>
</div>

<div class="container mt-4">
  <ng-container *ngIf="wishlist$ | async as wishlist">
    <ng-container *ngIf="wishlist.length; else noBooks">
      <div class="mb-4" *ngFor="let volume of wishlist">
        <app-volume-item [volume]="volume" [isWishlistItem]="true"></app-volume-item>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #noBooks>
    You don't have any books on your wishlist.
  </ng-template>
</div>
