<main id="content" role="main">
  <div>
    <div class="container space-2 space-sm-4">
      <div class="text-center">
        <div class="mb-5">
          <h1 class="text-primary font-weight-normal">Page <span class="font-weight-semi-bold">not found</span></h1>
          <p class="mb-0">Oops! We're sorry, but it looks like you followed a bad link.</p>
        </div>
        <a class="btn btn-primary btn-wide transition-3d-hover mt-3" routerLink="/">Go to homepage</a>
      </div>
    </div>
  </div>
</main>
