<!-- Search bar -->
<app-search-bar (queryChanged)="onQueryChange($event)"></app-search-bar>
<!-- /Search bar -->

<div class="container mt-5">



  <!-- Search results -->
  <div *ngIf="volumeResults">

    <h4 class="mb-5">Search results</h4>

    <ng-container *ngIf="volumeResults.length; else noResults">

      <!-- Pagination -->
      <pagination class="pagination-sm" [totalItems]="totalResults" [itemsPerPage]="20" [(ngModel)]="page"
        [boundaryLinks]="false" [rotate]="false" [maxSize]="3" (pageChanged)="onPageChange($event)"
        *ngIf="volumeResults">
      </pagination>
      <!-- /Pagination -->

      <div class="row">
        <div class="col-md-6 col-xl-4 mb-4" *ngFor="let volume of volumeResults">
          <app-volume-item-result [volume]="volume"></app-volume-item-result>
        </div>
      </div>

    </ng-container>

    <ng-template #noResults>There are no results for the search terms.</ng-template>
  </div>
  <!-- /Search results -->
</div>
