@media only screen and (max-width: 768px) {
  .book-cover {
    img {
      width: 100%;
    }

    max-height: 190px;
    overflow: hidden;
  }
}

.fa,
.far,
.fas {
  font-family: 'FontAwesome';
}

.fs--1 {
  font-size: .83333rem;
}

.cursor-pointer {
  cursor: pointer;
}

.pagination {
  flex-wrap: wrap;
}